<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>THE/NUDGE</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="\vendor\perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="\vendor\fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="\css\material-icons.css" rel="stylesheet">


    <!-- Font Awesome Icons -->
    <link type="text/css" href="\css\fontawesome.css" rel="stylesheet">


    <!-- Preloader -->
    <link type="text/css" href="\css\preloader.css" rel="stylesheet">


    <!-- App CSS -->
    <link type="text/css" href="\css\app.css" rel="stylesheet">






</head>


<style></style>






























<body class="layout-sticky-subnav layout-default ">

    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header mdk-header--bg-dark bg-dark js-mdk-header mb-0" data-effects="parallax-background waterfall" data-fixed="" data-condenses="">
            <div class="mdk-header__bg">
                <div class="mdk-header__bg-front" style="background-image: url(/images/home.jpg);"></div>
            </div>
            <div class="mdk-header__content justify-content-center">



                <div class="navbar navbar-expand navbar-dark-dodger-blue bg-transparent will-fade-background" id="default-navbar" data-primary="">

                    <!-- Navbar toggler -->
        

                    <!-- Navbar Brand -->
                    <a href="index.html" class="navbar-brand mr-16pt">
                        <!-- <img class="navbar-brand-icon" src="/images/logo/white-100@2x.png" width="30" alt="THE/NUDGE"> -->


                        <span class="d-none d-lg-block">THE/NUDGE</span>
                    </a>









                    <ul class="nav navbar-nav ml-auto mr-0">
                        <li class="nav-item">
                            <a href="/login" class="nav-link" data-toggle="tooltip" data-title="Login" data-placement="bottom" data-boundary="window"><i class="material-icons">lock_open</i></a>
                        </li>
                        <li class="nav-item">
                            <a href="/StudentRegisterPage" class="btn btn-outline-white">Get Started</a>
                        </li>
                        <li class="nav-item">
                            <a href="/placement" class="btn btn-outline-white">Placement Portal</a>
                        </li>
                    </ul>
                </div>

                <div class="hero container page__container text-center text-md-left py-112pt">
                    <h1 class="text-white text-shadow">we exist to alleviate poverty,
                        sustainably and scalably</h1>
                    <p class="lead measure-hero-lead mx-auto mx-md-0 text-white text-shadow mb-48pt">The/Nudge Foundation is a collective of some of India’s brightest entrepreneurs, leaders and change-makers, tackling the greatest human development challenge of our times - poverty.</p>


                    

                </div>
            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

















          

            <div class="page-section border-bottom-2">
                <div class="container page__container">

                    <div class="page-separator">
                        
                           

                        </div>
                        <div class="d-flex flex-column flex-md-row align-items-md-center mb-16pt">
                            <div class="mb-16pt mb-md-0 mr-md-16pt">
                                <div class="rounded p-relative o-hidden overlay overlay--primary">
                                    <img class="img-fluid rounded" src="\images\study.jpg" alt="image" style="width:300px">
                                    <div class="overlay__content"></div>
                                </div>
                            </div>
                            <div class="flex">
                                <p class="lead measure-paragraph-max">the toughest
                                    challenge India
                                    faces today 364 million people
                                    in poverty needs the best
                                    of India's minds
                                    to join hands</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 card-group-row__col">
                        </div>
                        <div class="d-flex flex-column flex-md-row align-items-md-center mb-16pt">
                            
                            <div class="flex">
                                <p class="lead measure-paragraph-max">The/Nudge Centre for Skill Development &
                                    Entrepreneurship‍
                                    An institution for research, innovation and practice‍
                                    driven by purpose | devoted to excellence | bias for action</p>
                            </div>
                            <div class="mb-16pt mb-md-0 mr-md-16pt">
                                <div class="rounded p-relative o-hidden overlay overlay--primary">
                                    <img class="img-fluid rounded" src="\images\gurukul.jpg" alt="image" style="width:300px">
                                    <div class="overlay__content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-md-row align-items-md-center mb-16pt">
                            <div class="mb-16pt mb-md-0 mr-md-16pt">
                                <div class="rounded p-relative o-hidden overlay overlay--primary">
                                    <img class="img-fluid rounded" src="\images\knowlegdeandResearch.jpeg" alt="image" style="width:300px">
                                    <div class="overlay__content"></div>
                                </div>
                            </div>
                            <div class="flex">
                                <p class="lead measure-paragraph-max">KNOWLEDGE & RESEARCH
                                    Building knowledge to enable decision making for all stakeholders - government, industry, training providers and non-profits. Researching deep and complex topics across labor markets, future of jobs, aspiration of youth, impact of various skilling models, migration patterns and more</p>
                            </div>
                        </div>
                        
                        



                    <div class="posts-cards">

                        
                        

                    </div>

                </div>
            </div>

            



            </div>


            <div class="page-section">
                <div class="container page__container">
                    <div class="page-headline text-center">
                        <h2>Feedback</h2>
                        <p class="lead measure-lead mx-auto text-black-70">What other students turned professionals have to say about us after learning with us and reaching their goals.</p>
                    </div>



                    <div class="position-relative carousel-card col-lg-8 p-0 mx-auto">
                        <div class="row d-block js-mdk-carousel" id="carousel-feedback">
                            <a class="carousel-control-next js-mdk-carousel-control mt-n24pt" href="#carousel-feedback" role="button" data-slide="next">
                                <span class="carousel-control-icon material-icons" aria-hidden="true">keyboard_arrow_right</span>
                                <span class="sr-only">Next</span>
                            </a>
                            <div class="mdk-carousel__content">

                                <div class="col-12 col-md-6">

                                    <div class="card card-feedback card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="text-70 small mb-0">A wonderful course on how to start. Eddie beautifully conveys all essentials of a becoming a good Angular developer. Very glad to have taken this course. Thank you Eddie Bryan.</p>
                                        </blockquote>
                                    </div>
                                    <div class="media ml-12pt">
                                        <div class="media-left mr-12pt">
                                            <a href="fixed-student-profile.html" class="avatar avatar-sm">
                                                <!-- <img src="/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                                <span class="avatar-title rounded-circle">UK</span>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="fixed-student-profile.html" class="card-title">Umberto Kass</a>
                                            <div class="rating mt-4pt">
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-md-6">

                                    <div class="card card-feedback card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="text-70 small mb-0">A wonderful course on how to start. Eddie beautifully conveys all essentials of a becoming a good Angular developer. Very glad to have taken this course. Thank you Eddie Bryan.</p>
                                        </blockquote>
                                    </div>
                                    <div class="media ml-12pt">
                                        <div class="media-left mr-12pt">
                                            <a href="fixed-student-profile.html" class="avatar avatar-sm">
                                                <!-- <img src="/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                                <span class="avatar-title rounded-circle">UK</span>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="fixed-student-profile.html" class="card-title">Umberto Kass</a>
                                            <div class="rating mt-4pt">
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-md-6">

                                    <div class="card card-feedback card-body">
                                        <blockquote class="blockquote mb-0">
                                            <p class="text-70 small mb-0">A wonderful course on how to start. Eddie beautifully conveys all essentials of a becoming a good Angular developer. Very glad to have taken this course. Thank you Eddie Bryan.</p>
                                        </blockquote>
                                    </div>
                                    <div class="media ml-12pt">
                                        <div class="media-left mr-12pt">
                                            <a href="fixed-student-profile.html" class="avatar avatar-sm">
                                                <!-- <img src="/images/people/110/guy-.jpg" width="40" alt="avatar" class="rounded-circle"> -->
                                                <span class="avatar-title rounded-circle">UK</span>
                                            </a>
                                        </div>
                                        <div class="media-body media-middle">
                                            <a href="fixed-student-profile.html" class="card-title">Umberto Kass</a>
                                            <div class="rating mt-4pt">
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star</span></span>
                                                <span class="rating__item"><span class="material-icons">star_border</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <!-- // END Header Layout Content -->




    </div>
    <!-- // END Header Layout -->




    <!-- drawer -->
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            
        </div>
    </div>
    <!-- // END drawer -->


    <!-- jQuery -->
    <script src="\vendor\jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="\vendor\popper.min.js"></script>
    <script src="\vendor\bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="\vendor\perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="\vendor\dom-factory.js"></script>

    <!-- MDK -->
    <script src="\vendor\material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="\vendor\fix-footer.js"></script>

    <!-- App JS -->
    <script src="\js\app.js"></script>






    <script>
        (function() {
            'use strict';
            var headerNode = document.querySelector('.mdk-header')
            var layoutNode = document.querySelector('.mdk-header-layout')
            var componentNode = layoutNode ? layoutNode : headerNode

            componentNode.addEventListener('domfactory-component-upgraded', function() {
                headerNode.mdkHeader.eventTarget.addEventListener('scroll', function() {
                    var progress = headerNode.mdkHeader.getScrollState().progress
                    var navbarNode = headerNode.querySelector('#default-navbar')
                    navbarNode.classList.toggle('bg-transparent', progress <= 0.2)
                })
            })
        })()
    </script>

</body>

</html>
