<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Login</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
      rel="stylesheet"
    />

    <!-- Perfect Scrollbar -->
    <link
      type="text/css"
      href="\vendor\perfect-scrollbar.css"
      rel="stylesheet"
    />

    <!-- Fix Footer CSS -->
    <link type="text/css" href="\vendor\fix-footer.css" rel="stylesheet" />

    <!-- Material Design Icons -->
    <link type="text/css" href="\css\material-icons.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <link type="text/css" href="\css\fontawesome.css" rel="stylesheet" />

    <!-- Preloader -->
    <link type="text/css" href="\css\preloader.css" rel="stylesheet" />

    <!-- App CSS -->
    <link type="text/css" href="\css\app.css" rel="stylesheet" />

    <!-- Coustom CSS -->
    <link type="text/css" href="\css\style.css" rel="stylesheet" />
  </head>

  <body class="layout-app">
    <div class="preloader">
      <div class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
      </div>
    </div>

    <div
      class="mdk-drawer-layout js-mdk-drawer-layout"
      data-push=""
      data-responsive-width="992px"
    >
      <div class="mdk-drawer-layout__content page-content">
        <!-- Header -->

        <div
          class="navbar navbar-expand navbar-light border-bottom-2"
          id="default-navbar"
          data-primary=""
        >
          <!-- Navbar toggler -->
          <button
            class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0"
            type="button"
            data-toggle="sidebar"
          >
            <span class="material-icons">short_text</span>
          </button>

          <!-- Navbar Brand -->
          <a href="index.html" class="navbar-brand mr-16pt d-lg-none">
            <!-- <img class="navbar-brand-icon" src="/images/logo/white-100@2x.png" width="30" alt="Luma"> -->

            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">
              <span class="avatar-title rounded bg-primary"
                ><img
                  src="\images\TheNudge logo.png"
                  alt="logo"
                  class="img-fluid"
              /></span>
            </span>

            <span class="d-none d-lg-block">The Nudge</span>
          </a>

          
        </div>

        <!-- // END Header -->

        <div>
          <div>
            <button
              class="tablink"
              onclick="openPage('adminTab', this, '#1979a9')"
            >
              Admin
            </button>
            <button
              class="tablink"
              onclick="openPage('studentTab', this, '#1979a9')"
              id="defaultOpen"
            >
              Student
            </button>
            <button
              class="tablink"
              onclick="openPage('teacherTab', this, '#1979a9')"
            >
              Teacher
            </button>
          </div>

          <div id="adminTab" class="tabcontent">
            <div class="pt-32pt pt-sm-64pt pb-32pt">
              <div class="container page__container">
                <form action="/login-admin" class="col-md-5 p-0 mx-auto">
                  <div class="form-group">
                    <label class="form-label" for="email">Email:</label>
                    <input
                      id="email"
                      type="text"
                      class="form-control"
                      placeholder="Your email address ..."
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">Password:</label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      placeholder="Your first and last name ..."
                    />
                    <p class="text-right">
                      <a href="reset-password.html" class="small"
                        >Forgot your password?</a
                      >
                    </p>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Admin Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="studentTab" class="tabcontent">
            <div class="pt-32pt pt-sm-64pt pb-32pt">
              <div class="container page__container">
                <form action="/login-student" class="col-md-5 p-0 mx-auto">
                  <div class="form-group">
                    <label class="form-label" for="email">Email:</label>
                    <input
                      id="email"
                      type="text"
                      class="form-control"
                      placeholder="Your email address ..."
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">Password:</label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      placeholder="Your first and last name ..."
                    />
                    <p class="text-right">
                      <a href="reset-password.html" class="small"
                        >Forgot your password?</a
                      >
                    </p>
                    <p class="text-right">
                      <a href="reset-password.html" class="small"
                        >Don't have a account? Register.</a
                      >
                    </p>

                    <!-- SIGN UP LINK NEEDED ^ -->
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Student Login
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="page-separator justify-content-center m-0">
              <div class="page-separator__text">or sign-in with</div>
            </div>
            <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
              <div class="container page__container">
                <a href="index.html" class="btn btn-secondary btn-block-xs"
                  >Google</a
                >
              </div>
            </div>
          </div>
          <div id="teacherTab" class="tabcontent">
            <div class="pt-32pt pt-sm-64pt pb-32pt">
              <div class="container page__container">
                <form action="/login-teacher" class="col-md-5 p-0 mx-auto">
                  <div class="form-group">
                    <label class="form-label" for="email">Email:</label>
                    <input
                      id="email"
                      type="text"
                      class="form-control"
                      placeholder="Your email address ..."
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">Password:</label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      placeholder="Your first and last name ..."
                    />
                    <p class="text-right">
                      <a href="reset-password.html" class="small"
                        >Forgot your password?</a
                      >
                    </p>
                    <p class="text-right">
                      <a href="reset-password.html" class="small"
                        >Don't have a account? Register.</a
                      >
                    </p>

                    <!-- SIGN UP LINK NEEDED ^ -->
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Teacher Login
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="page-separator justify-content-center m-0">
              <div class="page-separator__text">or sign-in with</div>
            </div>
            <div class="bg-body pt-32pt pb-32pt pb-md-64pt text-center">
              <div class="container page__container">
                <a href="index.html" class="btn btn-secondary btn-block-xs"
                  >Google</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="js-fix-footer2 bg-white border-top-2">
          <div
            class="container page__container page-section d-flex flex-column"
          >
            <p class="text-70 brand mb-24pt">
              <img
                class="brand-icon"
                src="\images\logo\black-70@2x.png"
                width="30"
                alt="Luma"
              />
              The Nudge
            </p>
            <p class="measure-lead-max text-50 small mr-8pt">
              The/Nudge Foundation is a collective of some of India’s brightest
              entrepreneurs, leaders and change-makers, tackling the greatest
              human development challenge of our times - poverty.
            </p>
            <p class="mb-8pt d-flex">
              <a href="" class="text-70 text-underline mr-8pt small">Terms</a>
              <a href="" class="text-70 text-underline small">Privacy policy</a>
            </p>
            <p class="text-50 small mt-n1 mb-0">
              Copyright 2019 &copy; All rights reserved.
            </p>
          </div>
        </div>
      </div>
      <!-- // END drawer-layout__content -->

      <!-- drawer -->
      <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
          <div
            class="sidebar sidebar-dark-dodger-blue sidebar-left"
            data-perfect-scrollbar=""
          >
            <div class="d-flex align-items-center navbar-height">
              <form
                action="index.html"
                class="search-form search-form--black mx-16pt pr-0 pl-16pt"
              >
                <input
                  type="text"
                  class="form-control pl-0"
                  placeholder="Search"
                />
                <button class="btn" type="submit">
                  <i class="material-icons">search</i>
                </button>
              </form>
            </div>

            <a href="index.html" class="sidebar-brand">
              <!-- <img class="sidebar-brand-icon" src="/images/illustration/student/128/white.svg" alt="Luma"> -->

              <span class="avatar avatar-xl sidebar-brand-icon h-auto">
                <span class="avatar-title rounded bg-primary"
                  ><img
                    src="\images\illustration\student\128\white.svg"
                    class="img-fluid"
                    alt="logo"
                /></span>
              </span>

              <span>The Nudge</span>
            </a>

            <div class="sidebar-heading">Applications</div>

          </div>
        </div>
      </div>
      <!-- // END drawer -->
    </div>
    <!-- // END drawer-layout -->

    <!-- jQuery -->
    <script src="\vendor\jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="\vendor\popper.min.js"></script>
    <script src="\vendor\bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="\vendor\perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="\vendor\dom-factory.js"></script>

    <!-- MDK -->
    <script src="\vendor\material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="\vendor\fix-footer.js"></script>

    <!-- App JS -->
    <script src="\js\app.js"></script>

    <!-- Custom JS -->
    <script src="\js\custom.js"></script>
  </body>
</html>
