<!DOCTYPE html>
<html lang="en" dir="ltr">
    <style>
        </style>
        
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Courses</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="\vendor\perfect-scrollbar.css" rel="stylesheet">

    <!-- Fix Footer CSS -->
    <link type="text/css" href="\vendor\fix-footer.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="\css\material-icons.css" rel="stylesheet">


    <!-- Font Awesome Icons -->
    <link type="text/css" href="\css\fontawesome.css" rel="stylesheet">


    <!-- Preloader -->
    <link type="text/css" href="\css\preloader.css" rel="stylesheet">


    <!-- App CSS -->
    <link type="text/css" href="\css\app.css" rel="stylesheet">






</head>


<body class="layout-sticky-subnav layout-default ">

    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        <div id="header" class="mdk-header js-mdk-header mb-0" data-fixed="" data-effects="">
            <div class="mdk-header__content">



                <div class="navbar navbar-expand navbar-dark-dodger-blue navbar-shadow" id="default-navbar" data-primary="">

                   

                    <!-- Navbar Brand -->
                 <a href="/placement" class="navbar-brand mr-16pt">
                    
                        <span class="d-none d-lg-block">Student Panel</span>
                           
                    </a>
                    <a href="/placement/job-posting" class="navbar-brand mr-16pt">
                    
                        <span class="d-none d-lg-block">Admin Panel</span>
                           
                    </a>


                    
                    
                    <ul class="nav navbar-nav ml-auto mr-0">
                    </ul>
                </div>

            </div>
        </div>

        <!-- // END Header -->

        <!-- Header Layout Content -->
       
               




        </div>
        <!-- // END Header Layout Content -->



    </div>
    <!-- // END Header Layout -->

    


    <!-- jQuery -->
    <script src="\vendor\jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="\vendor\popper.min.js"></script>
    <script src="\vendor\bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="\vendor\perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="\vendor\dom-factory.js"></script>

    <!-- MDK -->
    <script src="\vendor\material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="\vendor\fix-footer.js"></script>

    <!-- App JS -->
    <script src="\js\app.js"></script>

<br><br><br><br><br><br><br>

<a href="/placement/jobs/beauty">
<img class="img-fluid rounded" src="\images\beauty.jpg" alt="image" style="width:450px">
</a>

<a href="/placement/jobs/electric">
    <img class="img-fluid rounded" src="\images\electric.jpg" alt="image" style="width:450px">
    </a>

<a href="/placement/jobs/delivery">
        <img class="img-fluid rounded" src="\images\delivery.jpg" alt="image" style="width:450px">
</a>
<h1>BEAUTY   &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;              ELECTRICAL WORKS &nbsp; &nbsp; &nbsp; &nbsp;DELIVERY LOGISTICS</h1>
<br><br>
<br>

<a href="/placement/jobs/hmt">
            <img class="img-fluid rounded" src="\images\HMT.jpg" alt="image" style="width:450px">
</a>

<a href="/placement/jobs/customer_Service">
    <img class="img-fluid rounded" src="\images\customer_Service.jpg" alt="image" style="width:450px">
</a>

<a href="/placement/jobs/Retail">
    <img class="img-fluid rounded" src="\images\retail.jpg" alt="image" style="width:450px">
</a>
<h1>HMT &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;CUSTOMER SERVICE &nbsp; &nbsp; &nbsp; &nbsp; RETAIL SALES</h1>

</body>

</html>